<h2 style="text-align: center;"><a [routerLink]="['']">Home</a></h2>
<form (submit)="loginUser($event)" style="text-align: center;margin-top: 10%">
	<input type="text" name="" placeholder="Email" id="email"><br>
	<input type="password" name="" placeholder="Password" id="password"><br>
	<input type="submit" value="Login" style="width: 100px; margin-right: 20px">
	<a [routerLink]="['/register']">Sign Up</a>
</form>