<div class="logout" style="float: right;">
	<a (click)="logout()" [routerLink]="['/logout']">Logout</a>
</div>

<div style="clear: both;"><br></div>

<input type="text" placeholder="Search by name" style="width: 300px" [(ngModel)]="searchTerm">

<table width="100%" border="1" cellspacing="0" cellpadding="6px">
	<tr>
		<td colspan="5" *ngIf="!data">Loading...</td>
	</tr>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th>Image</th>
		<th>Actions</th>
	</tr>
	<tr *ngFor="let item of filteredData">
		<td align="center">{{item.id}}</td>
		<td><a [routerLink]="['/admin', item.id]">{{item.first_name}} {{item.last_name}}</a></td>
		<td>{{item.email}}</td>
		<td align="center"><img src="{{item.avatar}}" alt=""></td>
		<!-- <td align="center" width="400px">
			<a class="actions" *ngIf="!item.confirmDelete" (click)="item.confirmDelete=true">Delete</a> 
			<a class="actions">Update</a> 
			<br>
			<span *ngIf="item.confirmDelete">
				<span>Are you sure?</span> <br>
				<button (click)="deleteUser()" style="margin-right: 10px">Yes</button>
				<button (click)="item.confirmDelete=false">No</button>
			</span>
		</td> -->
		<td align="center" width="400px">
			<a class="actions">Update</a> 
			<a class="actions" (click)="deleteUser(item.id)">Delete</a>
		</td>
	</tr>
</table>
