<div (click)="backClicked()" style="float: right; margin-right: 20px">
	<a><< Back to User List</a>
</div>
<table cellspacing="0" cellpadding="6" style="margin-left: 10%; margin-top: 20px" *ngIf="user">
	<tr>
		<td><img src="{{user.avatar}}" alt=""></td>
		<td valign="center">
			<b>Id</b>: {{user.id}} <br><br>
			<b>Name</b>: {{user.first_name}} {{user.last_name}} <br><br>
			<b>Email</b>: {{user.email}}
		</td>
	</tr>
</table>

<h2 *ngIf="!user">Loading...</h2>