<form (submit)="signUp($event)" style="text-align: center;margin-top: 10%">
	<input type="text" placeholder="Email" id="email"><br>
	<input type="password" placeholder="Password" id="password"><br>
	<input type="submit" value="Sign Up" style="width: 100px; margin-right: 20px">
	<a [routerLink]="['/login']">Login</a>
</form>